.header {
    border-bottom: 1px solid var(--lm-publisher-border-color);
    padding: var(--lm-publisher-spacer-1) var(--lm-publisher-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .theme-switch {
    display: none;
}


.header__left, 
.header__title {
    gap: 8px;
    display: flex;
    align-items: center;
}

.header__title {
    text-decoration: none;
    color: var(--lm-publisher-title-color);
}
.header__title:hover h1,
.header__title:hover {
    color: var(--lm-publisher-link-color);
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    gap: var(--lm-publisher-spacer)
}

.header__left h1 {
    margin: 0;
    font-size: smaller;
}


.header .logo {
    display: none;
}

.header .auth-actions button {
    display: none;
}


@media screen and (min-width: 768px)  {
    .header {
        padding: var(--lm-publisher-grid-margins);
    }
    .theme-switch {
        display: flex;
    }

    .header .logo {
        display: flex;
        max-width: 24px;
    }

    .header__left h1 {
        margin: 0;
        font-size: 1.2rem;
    }

    .header .auth-actions button {
        display: flex;
    }
}