.generated-preview {
  position: relative;
  width: 180px;
}

.generated-preview .lmui-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.generated-preview__image {
  position: relative;
  width: 180px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px 8px;
}

.generated-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.generated-preview__name {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}