.form-input-color input.lmui-form__input,
.form-input-color .form-label {
  padding-left: var(--lm-publisher-spacer-5);
}

.form-input-color__picker-wrapper {
  position: absolute;
  top: 10px;
  left: 8px;
}

.form-input-color__picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.form-input-color__preview {
  background-color: var(--background-color, #ffffff00);
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid var(--lm-publisher-border-color);
}

