fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--lm-publisher-spacer-05);
    margin: 0;
    padding: 12px 16px;
    border: 1px solid var(--lm-publisher-border-color);
    border-radius: 5px;
    font-size: var(--lmui-len-font-size-placeholder-focus);
}

.form-fieldset_transparent {
    border-color: transparent;
}

.form-fieldset_error {
    border: 1px solid var(--lm-publisher-form-error-color);
}

.form-fieldset_error legend {
    color: var(--lm-publisher-form-error-color);
}