.form-input-file .form-input .lmui-form__input {
  border: none !important;
  outline: none !important;
  padding: 0;
  margin: 0;
  height: auto;
  box-shadow: none;
}

.form-input-file__input {
  display: none;
}

.form-input-file {
  transition: background-color 0.3s ease;
}

.form-input-file .form-input-file__content {
  display: flex;
  flex-direction: column;
  gap: var(--lm-publisher-spacer-05);
}

.form-input-file .form-label {
  color: var(--lmui-c-form-placeholder);
}

.form-input-file_error {
  border: 1px solid var(--lm-publisher-form-error-color);
}

.form-input-file__preview {
  padding: 1px;
  width: 28px;
  height: 28px;
  object-fit: contain;
  border: 1px solid var(--lm-publisher-border-color);
  border-radius: 2px;
}

.form-input-file_dragging-over {
  background-color: var(--lm-publisher-form-highlight-bg);;
}
