.queries-status {
  display: flex;
  justify-content: center;
}

.queries-status--success {
    color: var(--lm-publisher-text-success-color);
}

.queries-status--error {
    color: var(--lm-publisher-text-error-color);
}