.image-selectable-preview {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--lm-publisher-border-color);
  cursor: pointer;
  box-sizing: border-box;
}

.image-selectable-preview_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-selectable-preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-selectable-preview:hover {
  border-color: var(--lm-publisher-accent-color);
}
.image-selectable-preview_selected {
  border: 2px solid var(--lm-publisher-accent-color);
}

.image-selectable-preview__badge.circle-badge {
  display: none;
  position: absolute;

  top: 8px;
  right: 8px; 
  font-weight: bold;
}

.image-selectable-preview_selected .image-selectable-preview__badge {
   display: flex;
}
