.image-generator-form__model-fieldset {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--lm-publisher-spacer-2);
  min-inline-size: auto;
  box-sizing: border-box;
  min-height: min-content;
}