.model-selection-section {
  min-height: min-content;
  min-inline-size: auto;
}
.model-selection-section__content {
  overflow: hidden;
  margin-right: -16px;
  width: calc(16px + 100%);
  display: flex;
  flex-direction: column;
  gap: var(--lm-publisher-spacer-2);
  box-sizing: border-box;
  padding: var(--lm-publisher-spacer-2) 0 0 0;
}