.lmui-divider {
  --margin-top: var(--lm-publisher-spacer-3);
  --margin-bottom: var(--lm-publisher-spacer-3);
  --margin-left: auto;
  --margin-right: auto;
  border: none;
  border-top: 1px solid var(--lm-publisher-border-color);
  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
  align-self: center;
}

.lmui-divider_dashed {
  border-top: 1px dashed var(--lm-publisher-border-color);
}

.lmui-divider_s {
  width: 40%;
}

.lmui-divider_m {
  width: 80%;
}

.lmui-divider_l {
  width: 100%;
}

.lmui-divider_space-s {
  --margin-top: var(--lm-publisher-spacer-1);
  --margin-bottom: var(--lm-publisher-spacer-1);
}

.lmui-divider_space-m {
  --margin-top: var(--lm-publisher-spacer-2);
  --margin-bottom: var(--lm-publisher-spacer-2);
}

.lmui-divider_position-left {
  --margin-left: 0;
  --margin-right: auto;
}

.lmui-divider_position-right {
  --margin-left: auto;
  --margin-right: 0;
}