.form-input-range .lmui-form__input-wrapper {
  outline: none;
  border: none;
  padding-top: var(--lm-publisher-spacer-1);
}

.form-input-range input.lmui-form__input {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
}

.form-input-range.lmui-form input.lmui-form__input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.form-input-range__min-max-values {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 var(--lm-publisher-spacer-05);
  box-sizing: border-box;
}
/* .form-input-range__min-value, */