.form-input-range .lmui-form__input-wrapper {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding-top: var(--lm-publisher-spacer-1);
}

.form-input-range .form-label {
  display: flex;
  align-items: center;
  gap: var(--lm-publisher-spacer-1);
  flex-wrap: wrap;
}

.form-input-range input.lmui-form__input {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
}

.form-input-range.lmui-form input.lmui-form__input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.form-input-range__min-value, .form-input-range__max-value {
  font-size: smaller;
  color: var(--lm-publisher-text-secondary-color);
}