.image-generated-preview {
  position: relative;
}

.image-generated-preview .lmui-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.image-generated-preview__image {
  position: relative;
  width: 100px;
  height: 140px;
  overflow: hidden;
  border-bottom: 1px solid var(--lm-publisher-border-color);
  border-radius: 8px 8px;
}

.image-generated-preview img {
  width: 100%;
  height: 140px;

  object-fit: cover;
}