.image-generated-preview {
  position: relative;
}

.image-generated-preview .lmui-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.image-generated-preview__image {
  position: relative;
  width: 180px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px 8px;
}

.image-generated-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}