.circle-badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--lm-publisher-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lmui-c-snow-lighter);
}

.circle-badge img {
  width: 12px;
  height: 12px;
}