.circle-badge {
  --width: 24px;
  --icon-width: 12px;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  background-color: var(--lm-publisher-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lmui-c-snow-lighter);
}

.circle-badge_s {
  --width: 16px;
  --icon-width: 8px;
}

.circle-badge_l {
  --width: 32px;
  --icon-width: 16px;
}

.circle-badge img {
  width: var(--icon-width);
  height: var(--icon-width);
}

.circle-badge_inline-flex {
  display: inline-flex;
}