.model-selector {
  --model-selector-offset-r: 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.model-selector:after {
  content: '';
  position: absolute;
  width: var(--model-selector-offset-r);
  height: 100%;
  right: -1px;
  top: 0;
  background: linear-gradient(-90deg, var(--lm-publisher-bg-color) 70%, transparent);
}

.model-selector__list {
  padding-right: var(--model-selector-offset-r);
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: var(--lm-publisher-spacer-2);
}

.model-selector__selectable {
  width: 200px;
  flex-shrink: 0;
  border: 1px solid var(--lm-publisher-border-color);
  border-radius: 4px;
  white-space: pre-wrap;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.model-selector__selectable_selected,
.model-selector__selectable:hover {
  border-color: var(--lm-publisher-accent-color);
}

.model-selector__selectable_selected .model-selector__info {
  color: var(--lm-publisher-accent-color);
}

.model-selector__info {
  padding: var(--lm-publisher-spacer-2);
}

.model-selector__thumbnail {
  position: relative;
  height: 132px;
}

.model-selector__thumbnail > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.model-selector__badge.check-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;

}

.model-selector__selectable_selected .model-selector__badge {
  display: flex;
}
