.available-services-list__elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--lm-publisher-grid-gap);
}

.available-services-list__header {
    margin-bottom: var(--lm-publisher-spacer-4);
}

@media screen and (max-width: 768px)  and (min-width: 401px)  {
    .available-services-list__elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .available-services-list__elements {
        grid-template-columns: repeat(1, 1fr);
    }
}