:root {
  --lm-publisher-bg-color: var(--lmui-c-white);
  --lm-publisher-text-color: var(--lmui-c-slate-dark);
  --lm-publisher-title-color: var(--lmui-c-charcoal-dark);
  --lm-publisher-accent-color: var(--lmui-c-sea-light);
  --lm-publisher-link-color: var(--lmui-c-sea-light);
  --lm-publisher-link-hover-color: var(--lmui-c-sea-medium);
  --lm-publisher-border-color: var(--lmui-c-snow-dark);

  --lm-publisher-text-error-color: var(--lmui-c-red-light);
  --lm-publisher-text-success-color: var(--lmui-c-form-border-valid-dark);

  --lm-publisher-form-error-color: var(--lmui-c-form-border-error);

  --lm-publisher-tool-bg: linear-gradient(232deg, rgb(0, 91, 133, 0.09) 0%, rgba(0, 91, 133, 0.04) 94.37%);

  --lm-publisher-width: 1200px;

  --lm-publisher-grid-gap: 16px;
  --lm-publisher-grid-margins: 24px;
  --lm-publisher-spacer-05: 4px;
  --lm-publisher-spacer: 8px;
  --lm-publisher-spacer-2: 16px;
  --lm-publisher-spacer-3: 24px;
  --lm-publisher-spacer-4: 32px;
  --lm-publisher-spacer-5: 40px;
  --lm-publisher-spacer-6: 68px;
  --lm-publisher-spacer-8: 64px;
}

:root[data-color-mode=dark] {
  --lm-publisher-bg-color: var(--lmui-c-charcoal-dark);
  --lm-publisher-title-color: var(--lmui-c-snow-lighter);
  --lm-publisher-text-color: var(--lmui-c-smoke-dark);
  --lm-publisher-accent-color: var(--lmui-c-sea-light);
  --lm-publisher-border-color: var(--lmui-c-slate-lighter);

  --lm-publisher-tool-bg: linear-gradient(232deg, rgb(129, 199, 231, 0.09) 0%, rgba(129, 199, 231, 0.04) 94.37%);
}

body {
  background: var(--lm-publisher-bg-color);
  font-family: var(--ff-marr-sans);
  color: var(--lm-publisher-text-color);
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-content {
  margin: var(--lm-publisher-grid-margins) auto;
  padding: var(--lm-publisher-grid-margins);
  max-width: var(--lm-publisher-width);
}

a {
  color: var(--lm-publisher-link-color);
}
a:hover {
  color: var(--lm-publisher-link-hover-color);
}

.accent {
  color: var(--lm-publisher-accent-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
  color: var(--lm-publisher-title-color);
  font-weight: 500;
}

h2,
.lm-publisher-title_2 {
  font-size: 22px;
  font-weight: 500;
  color: var(--lm-publisher-title-color);
  margin-bottom: var(--lm-publisher-spacer-2);
}

p {
  margin: 0;
  padding: 0;
}

.lm-publisher-m-spacer {
  margin: var(--lm-publisher-spacer) 0;
}
.lm-publisher-m-t-spacer {
  margin-top: var(--lm-publisher-spacer);
}
.lm-publisher-m-spacer-3 {
  margin: var(--lm-publisher-spacer-3) 0;
}
.lm-publisher-m-t-spacer-3 {
  margin-top: var(--lm-publisher-spacer-3);
}
.lm-publisher-m-spacer-6 {
  margin: var(--lm-publisher-spacer-6) 0;
}
.lm-publisher-m-t-spacer-6 {
  margin-top: var(--lm-publisher-spacer-6);
}
.lm-publisher-m-spacer-8 {
  margin: var(--lm-publisher-spacer-8) 0;
}
.lm-publisher-m-t-spacer-8 {
  margin-top: var(--lm-publisher-spacer-8);
}

th {
  font-weight: 500;
}

.lm-publisher-flex {
  display: flex;
}

.lm-publisher-flex-1 {
  flex: 1;
}

.lm-publisher-flex-wrap {
  flex-wrap: wrap;
}

.lm-publisher-center-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lm-publisher-flex-column {
  display: flex;
  flex-direction: column;
}

.lm-publisher-flex-spacer {
  gap: var(--lm-publisher-spacer)
}

.lm-publisher-flex-spacer-2 {
  gap: var(--lm-publisher-spacer-2)
}