.text--xs {
  font-size: 0.7rem;
}

.text--sm {
  font-size: smaller;
}

.text--lg {
  font-size: larger;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}