.service {
  position: relative;
  padding: var(--lm-publisher-spacer-4) var(--lm-publisher-spacer-3) var(--lm-publisher-spacer-3);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 8px;
  background: var(--lm-publisher-service-bg);

  text-decoration: none;
}

.service_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.service__title {
  transition: color 0.3s ease;
}

.service:hover .service__title {
  color: var(--lm-publisher-link-color);
}

.service__description {
  color: var(--lm-publisher-text-color);
  font-size: 0.9rem;
}


.service__version {
  position: absolute;
  right: var(--lm-publisher-spacer-2);
  top: var(--lm-publisher-spacer-2);
}

@media screen and (min-width: 1024px)  {
  .service {
    min-height: 120px;
  }
}