.gradient-preview {
  background-color: var(--lm-publisher-form-highlight-bg);
  border-radius: 4px;
  padding: var(--lm-publisher-spacer-2);
}

.gradient-preview__box {
  width: 50px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--lm-publisher-border-color);
  overflow: hidden;
}