.image-selector {
  overflow: auto;
  width: 100%;
  padding-bottom: var(--lm-publisher-spacer-2);
}

.image-selector__selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  aspect-ratio: 2/3;
  width: 120px;
  border: 1px dashed var(--lm-publisher-border-color);
  border-radius: 8px;
  padding: var(--lm-publisher-spacer-2);
  gap: var(--lm-publisher-spacer-1);
  box-sizing: border-box;
}
